{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<!doctype html>
<html>
	<head>
		<title>Azeez's page of glory </title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script>
			{

				confirm("Do you wish to enter ?");
				console.log("Welcome to Metallica website");
			}
		</script>
	</head>
	<body>
		<h1>Welcome</h1>
		<ul>
			<li class="home">Home Page</li>
			<a href="https://www.google.co.il/search?q=metallica&biw=1440&bih=694&source=lnms&tbm=isch&sa=X&ei=gdlTVKuQH9Kxacf7gbgK&ved=0CAYQ_AUoAQ"><li class="photos">Photos</li></a>
			<a href="http://www.espguitars.com/guitars"><li class="shop">shop</li></a>
			<a href="about.html"><li class="about">about</li></a>
		
		</ul>
		<a  href="http://www.youtube.com/watch?v=kV-2Q8QtCY4"><img src="{% static 'polls/play.png' %}" style ="width:100;height:100px"></a>
		<iframe width="0" height="0" src="//www.youtube.com/embed/CD-E-LDc384?autoplay=1" frameborder="0" allowfullscreen></iframe>reen></iframe> -->
		<p class="watch">watch the video ==></p>
	</body>
</html>