h1{
text-align: center;
color:red ;
font-size: 50px;
}
img{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
body{
	background-color: black;
}
li{
	color: red;
	font-size: 27px;
	margin:0;
	display: inline;
	
}
p{
	color: red;
	text-align: center;
	font-size: 25px;
}
.home{
	margin-left: 500px
}
.photos{
	margin-left: 100px
}
.shop{
	
	margin-left: 100px
}
.about{
	margin-left: 100px

}